body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
}

p{
    font-size: large;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigationbuttons{
    position: relative;
    top: 20px;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    font-size: larger;
}

main{
    flex: 1 0 auto;

}

.emu-green {
    background-color: #006A35;
}

.icon {
    font-size: 24px;
}

.page{
    padding-left: 100px;
    padding-top: 30px;
}

@media only screen and (max-width: 600px) {
    .page{
        padding-top: 10px;
        padding-left: 0px;
    }

    h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p{
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 23px;
    }
    

}

.page_content{
    height: 80vh;
}

.subheader{
    font-size: larger !important;
}

.divider{
    margin-left: 30px !important;
    margin-right: 30px !important;
}
