body {
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Baloo 2', cursive;
}

p{
    font-size: large;
}

.button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    flex: 1 0 auto;
}

.emu-green {
    background-color: #006A35;
}

.icon {
    font-size: 24px;
}

.page{
    padding-left: 0px;
    padding-top: 10px;
}

@media only screen and (min-width: 992px) {
    .scroll-container{
        padding-left: 200px;
    }
}

@media only screen and (max-width: 600px) {
    .page{
        padding-left: 0px;
    }

    h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p{
        font-size: medium;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 23px;
    }

    .scroll-container{
        padding-left: 0px;
    }

}


.page_content{
    height: 80vh;
}

.subheader{
    font-size: larger !important;
}

.divider{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.dots li a:before {
	background: rgba(0, 0, 0, 0.48);
}

.dots li a.active:before {
    background-color: #006A35;
}


@keyframes slidein {
    from {
      margin-bottom: 300%;
      height: 300%; 
    }
  
    to {
      margin-bottom: 0%;
      width: 100%;
    }
  }

  /* label focus color */
.input-field input:focus+label {
    color: #006A35 !important;
}


/* icon prefix focus color */
.input-field .prefix.active {
    color: #006A35 !important;
}


/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #006A35 !important;
    box-shadow: 0 1px 0 0 #006A35 !important
}

.row .input-field textarea:focus {
    border-bottom: 1px solid #006A35 !important;
    box-shadow: 0 1px 0 0 #006A35 !important
}
.input-field textarea:focus+label {
    color: #006A35 !important;
}

  /* @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    to {
      -webkit-transform: translate3d(0, 12.2rem, 0);
      transform: translate3d(0, 12.2rem, 0);
    }
  } */
  /* @keyframes bounce {
    0% {
      transform: translateY(-200px) rotate(0deg);
    }
    to {
        transform: translateY(0) rotate(20deg);
    }
  }

 .basketball{
        margin-left: 300px;
        -webkit-animation: bounce 0.7s;
        animation: bounce 0.7s;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
        animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        pointer-events: none;
 } */

