body {
  background-image: url(../../assets/img/background-background-image-clouds-1054289.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  font-family: 'Abel';
}

.navbar.navbar-light.navbar-expand-md {
  background-color: rgba(255,255,255,0.5);
}

.jumbotron.jumbotron-fluid.text-center {
  background-color: rgba(255,255,255,0.5);
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
}

a:not([href]):not([tabindex]) {
}

.btn.btn-light.text-dark {
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(220,220,220,1);
}

.card {
  width: 200px;
  margin: 20px;
  border-radius: 25px;
  background-color: rgba(255,255,255,0.5);
}

